*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#fdf5f5;
    display:flex;
    justify-content:center;
    padding:40px;
}

.container{

    width:900px;
    max-width:100%;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

h1{

    text-align:center;
    color:#8B1E3F;
    margin-bottom:30px;
}

label{

    display:block;
    margin-top:15px;
    margin-bottom:5px;
    color:#7B1E3C;
    font-weight:bold;
}

input,
textarea{

    width:100%;
    padding:12px;
    border:2px solid #E8CFCF;
    border-radius:8px;
    outline:none;
    font-size:15px;
}

input:focus,
textarea:focus{

    border-color:#B23A48;
}

button{

    margin-top:20px;
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#A8324A;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{

    background:#872341;
}

#search{

    margin-top:30px;
}

.error{

    color:#d32f2f;
    font-size:13px;
}

.note{

    margin-top:20px;
    border-left:6px solid #A8324A;
    background:#FFF7F7;
    padding:18px;
    border-radius:10px;
}

.note h3{

    color:#8B1E3F;
    margin-bottom:10px;
}

.note p{

    margin-bottom:10px;
    line-height:1.6;
}

.note small{

    color:gray;
}

.actions{

    margin-top:15px;
}

.actions button{

    width:auto;
    margin-right:10px;
    padding:10px 18px;
}

.edit{

    background:#B23A48;
}

.delete{

    background:#D62839;
}

.edit:hover{

    background:#962D43;
}

.delete:hover{

    background:#B22234;
}